.app {
  display: flex;
  color: #fff;
  font-family: 'Asap Condensed', sans-serif;
  align-items: center;
  width: 100%;
  min-height:100vh;
}

.left-side {
  align-items: center;
  justify-content: center;
  width: 25%;
}

.right-side {
  width: 75%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to bottom, #1e2039, #16162a)
  }
  
  .left-side, 
  .right-side {
    width: 100%;
  }
}